# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# STM32 specific build artifacts
*.elf
*.hex
*.bin
*.o
*.d
*.map
*.lst
*.objlist
*.lnp

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
